# Default ignored files
**/shelf/
**/.idea/

# Ignore out folder, these files will be generated anyway when you run and build the project
**/backend/out

# Config files to ignore
backend.iml

# Each should prepare their own ConnectionManager.java
ConnectionManager.java

# Ignore MacOS specific .DS_Store files
.DS_Store
