.profile-container{
  margin: 20px 0;
}

.profile-avatar{
  margin: 50px 0 15px;
  display: flex;
  flex-direction: column;
  background-color: #f2f2f2;
}

.profile-avatar img{
  width: 150px;
  border-radius: 50%;
  height: 150px;
  align-self: center;
  border: 1px solid #FF8A65;
}
.profile-avatar h1,p{
  align-self: center;
}
.profile-avatar p{
  font-size: 1em;
  color: #80809E;
}
