.intro-section{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: baseline;
  padding: 10px 0 40px 0;
}
.intro-image{
  max-width: 600px;
  width: 70%;
  height: auto;
}
.intro-text{
  max-width: 600px;
  width: 70%;
  justify-self: center;
  align-self: center;
  text-align: center;
}
  