.intro-section{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: baseline;
  padding: 10px 0 40px 0;
  background-color: #ebebeb;
}
.intro-image{
  max-width: 600px;
  width: 70%;
  height: auto;
}
.intro-text{
  max-width: 600px;
  width: 70%;
  justify-self: center;
  align-self: center;
  text-align: center;
}
.intro-section button{
  width: 30%;
  min-width: 200px;
  padding: 10px;
  border: 2px solid var(--main-color);
  border-radius: 10px;
  font-size: 18px;
  margin-top: 10px;
  transition: 0.3s;
}
.intro-section button:hover{
  background-color: var(--main-color);
  color: white;
}