.preview-items{
  padding: 40px 60px;
  
}
.preview-item-container{
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(auto-fit, minmax(600px, 1fr));
  justify-items: center;
  justify-content: center;
}
.project-item{
  margin-top: 10px;
  max-width: 500px;
  width: 80%;
  min-width: 300px;
  display: flex;
  flex-direction: column;
  height: auto;
  align-items: center;
  background-color: #EBEBEB;
  border: 15px solid transparent;
  border-radius: 12px;
  /* padding: 5px; */
  border-top: 0px;
}
.image{
  width: 30vw;
  height: auto;
  background-size: cover;
  background-position: center;
  margin-bottom: 5px;
}
.project-footer{
  width: 100%;
  height: 5%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
} 
.name{
  font-size: 24px;
  margin-bottom: 15px;
}
.target-fund{
  font-size: 18px;
    /* // width: 90%; */
}
@media(max-width: 600px){
  .project-item{
    width: 300px;
  }
}
.text-center{
  padding: 40px 0px 0px 0px;
}
.filter-list{
  margin: 0;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  /* border: 1px solid #dddddd;
  border-radius: 30px; */
  padding: 4px;
  margin: 0 0 60px;
}
.filter-list li{
  text-align: center;
  display: inline-block;
  font-size: 16px;
  color: #888888;
  margin-right: 10px;
  border-radius: 25px;
  padding: 10px;
  padding: 10 20px;
  /* min-width: 30px; */
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.filter-list li.active,
.filter-list li:hover{
  background-color: #FF8A65;
  color: black;
  font-weight: bold;
}